@import 'base';
@import 'mixins';
@import 'variables';

body {
  background: linear-gradient(
      to right,
      rgba(100, 227, 195, 1) 0%,
      rgba(101, 159, 241, 1) 51%,
      rgba(100, 227, 195, 1) 100%
    )
    fixed;
}

.main {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  @include margin-y(2rem);

  @media screen and (max-width: $screen-max-md) {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    display: flex;
    max-width: 310px;
    width: 100%;
    border-radius: 30px 0 0 30px;
    background-color: $color-lv1;

    .circle {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: #ffffff30;
      position: absolute;
      z-index: -1;
      left: 18rem;
      right: 0;
      bottom: 20px;
      webkit-box-shadow: 1px 1px 5rem 1px rgb(255 255 255);
      -moz-box-shadow: 1px 1px 5rem 1px rgb(255 255 255);
      box-shadow: 1px 1px 5rem 1px rgb(255 255 255);
    }

    @media screen and (max-width: $screen-max-md) {
      display: flex;
      border-radius: 30px 30px 0 0;
      background-color: $color-lv1;
      margin-bottom: 0%;
      max-width: unset;
      width: 90%;

      .circle {
        display: none;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin: 30px;
      width: 250px;
      height: 100%;
      max-height: 700px;
      min-height: 700px;

      @media screen and (max-width: $screen-max-md) {
        width: 100%;
        min-height: auto;
      }

      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        height: 120px;
        justify-content: space-evenly;

        p:nth-of-type(1) {
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 3px;
          background: linear-gradient($color-lv3, $color-lv2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p:nth-of-type(2) {
          font-size: 10px;
          background: linear-gradient($color-lv3, $color-lv2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .nav {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $screen-max-md) {
          flex-direction: row;
          justify-content: space-around;
          width: 400px;
        }

        @media screen and (max-width: $screen-max-xs) {
          width: 100%;
          max-width: 90%;

          li {
            min-height: 3rem;
          }
        }

        li {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          cursor: pointer;

          i {
            text-align: center;
            font-size: 32px;
            width: 40.5px;
            @include margin-x(1rem);

            @media screen and (max-width: $screen-max-md) {
              @include margin-x(0);
            }
          }

          .big-icon {
            @media screen and (max-width: $screen-max-md) {
              font-size: 25px;
            }
          }

          .big-icon:before {
            color: transparent;
            position: relative;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient($color-lv4 10%, $color-lv5);
          }

          a {
            font-size: 14px;
            font-weight: 700;
            background: linear-gradient($color-lv4, $color-lv4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (max-width: $screen-max-md) {
              font-size: 10px;
            }
          }

          @media screen and (max-width: $screen-max-md) {
            display: flex;
            flex-direction: column;

            margin-bottom: 0;

            min-height: 5rem;
            justify-content: space-around;
          }
        }
      }

      .join-now {
        display: flex;
        border-radius: 40px;
        align-items: center;
        background: linear-gradient(to right, $color-lv5 30%, $color-lv6 100%);
        @include padding-x(2rem);
        height: 150px;

        img {
          transform: rotate(-20deg);
          flex-basis: 50%;
          object-fit: contain;
          max-width: 50%;
        }

        p {
          font-size: 19px;
          font-weight: 700;
          color: $color-white;
          flex-basis: 50%;
        }

        @media screen and (max-width: $screen-max-md) {
          display: none;
        }
      }
    }
  }

  .container {
    display: flex;
    max-width: 850px;
    width: 100%;
    border-radius: 0 30px 30px 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    z-index: 0;

    .circle {
      content: '';
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: #ffffff30;
      position: absolute;
      z-index: -1;
      left: 38rem;
      right: 0;
      bottom: 20px;
      webkit-box-shadow: 1px 1px 5rem 1px $color-white;
      -moz-box-shadow: 1px 1px 5rem 1px $color-white;
      box-shadow: 0 0 5rem 0 $color-white;
      backdrop-filter: blur(1rem);
      top: -3rem;
    }

    @media screen and (max-width: $screen-max-md) {
      border-radius: 0 0 30px 30px;
      max-width: unset;
      width: 90%;

      .circle {
        display: none;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include margin-x(5rem);
      @include margin-y(3rem);

      @media screen and (max-width: $screen-max-md) {
        align-items: center;
      }

      @media screen and (max-width: $screen-max-xs) {
        @include margin-x(1rem);

        h2 {
          text-align: center;
        }
      }

      h2 {
        font-size: 40px;
        font-weight: 700;
        color: #426696;
      }

      .search-box {
        max-width: 60%;
        @include margin-y(2rem);

        @media screen and (max-width: $screen-max-md) {
          display: flex;
          align-self: center;
          max-width: 560px;
          width: 100%;
        }

        .react-autosuggest__container,
        .react-autosuggest__container--open {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          width: 100%;
          z-index: 1;

          @media screen and (max-width: $screen-max-md) {
            align-items: unset;
          }

          .react-autosuggest__suggestions-container,
          .react-autosuggest__suggestions-container--open {
            display: flex;
            border-radius: 2px;
            position: absolute;
            top: 50px;
            bottom: 0;
            z-index: 1;
            margin-top: 0.5em;

            .react-autosuggest__suggestion,
            .react-autosuggest__suggestion--first {
              border: 1px solid #d9d9d9;
              cursor: pointer;
              padding: 10px 20px;
              height: auto;
              border-top: 0;
              background: #dafaff;

              &:hover {
                background: #b8dcf5;
              }

              @media screen and (max-width: $screen-max-xs) {
                height: auto;
                font-size: 10px;
                min-height: 35px;
              }
            }
          }

          .react-autosuggest__input {
            border-radius: 30px;
            padding-left: 1.5rem;
            padding-right: 2.5rem;
            @include padding-y(0.75rem);
            opacity: 0.6;
            color: #003a88;
            border: 3px solid #dfdfdf;
            width: 100%;
            padding-right: 3.5em;

            &:focus {
              outline: none;
            }

            @media screen and (max-width: $screen-max-xs) {
              max-width: unset;
              width: 100%;
            }
          }

          .inputContainer {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            i {
              position: absolute;
              right: 1rem;
              opacity: 0.3;
              @media screen and (max-width: $screen-max-xs) {
                right: 2rem;
              }
            }
          }
        }

        @media screen and (max-width: $screen-max-xs) {
          width: 100%;
        }
      }

      .search-result {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;

        @media screen and (max-width: $screen-max-md) {
          max-width: 100%;
          align-items: center;
        }

        .game {
          display: flex;
          background: $color-lv1;
          border-radius: 30px;
          max-width: 560px;
          width: 100%;
          box-shadow: 2px 6px 10px #9a9a9a5c;
          justify-content: space-around;
          cursor: pointer;

          @media screen and (max-width: $screen-max-md) {
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }

          @include padding-x(30px);
          @include padding-y(20px);
          @include margin-y(1.5rem);

          .img-container {
            display: flex;
            min-width: 113px;
            max-width: 113px;
            position: relative;
            height: 110px;

            .img {
              object-fit: cover;
              border-radius: 40px 40px;
            }
          }

          .game-activity {
            display: flex;
            flex-direction: column;
            margin-right: 3rem;
            justify-content: space-between;
            @include padding-x(1rem);

            h3 {
              color: #545454;
              font-size: 18px;
            }

            p {
              color: #afafaf;
            }

            @media screen and (max-width: $screen-max-md) {
              @include margin-y(1rem);
              min-height: 70px;
            }

            @media screen and (max-width: $screen-max-xs) {
              text-align: center;
              @include margin-x(1rem);
              min-height: 80px;
              h3 {
                font-size: 18px;
              }

              p {
                font-size: 12px;
              }
            }

            .progress-bar {
              max-width: 300px;
              height: 25px;
              background: #cacaca82;
              border-radius: 30px;

              .percentage {
                height: 25px;
                background: linear-gradient(to right, #88ddc8 1%, #64e2c3 100%);
                border-radius: 30px 0 0 30px;
              }
            }
          }

          .percentage {
            align-self: center;
            font-size: 30px;
            font-weight: 700;
            color: $color-lv7;
          }
        }
      }
    }
  }
}
